<launch>
  <!-- launch the camera -->
  <include file="$(find realsense_camera)/launch/sr300_nodelet_rgbd.launch"/>

  <!-- run computer_vision node -->
  <node name="computer_vision" pkg="computer_vision" type="computer_vision" output="screen"/>

  <!-- run object_detection node -->
  <node name="obj_det" pkg="object_detection" type="object_detection" output="screen"/>

  <!-- run object_classification node -->
  <node name="object_classifier" pkg="object_classifier" type="classifier.py"/>

  <!-- run the keyboard teleop -->
  <!--node pkg="keyboard_teleop" type="keyboard_teleop.py" name="keyboard_teleop"/--> 

  <!-- launch the motor_controller -->
  <!--include file="$(find motor_controller)/launch/motor_controller.launch"/-->

  <!-- parameters -->
  <rosparam file="$(find object_detection)/config/object_detection.yaml" command="load"/>
  <rosparam file="$(find object_classifier)/config/object_classifier.yaml" command="load"/>
  <rosparam file="$(find keyboard_teleop)/config/keyboard_teleop.yaml" command="load"/>

  <!-- static transform -->
  <node pkg="tf" type="static_transform_publisher" name="tf_camera_to_robot" args="0.182 0 0.115 0 0.524 0 robot camera_link 100"/>
</launch>
